main
{
    display: flex;
    justify-content: center;
    margin-top: 108px;
}

div
{
    display: flex;
    flex-direction: column;
}


.imgs
{
    width: 302px;
    height: 348px;
}

.divt
{
    justify-content: center;
    text-align: justify;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 32px;
    
}

.divt2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 487px;
}

.divt3
{
    font-family: "Lato", sans-serif;
    font-size: 64px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 76.8px;
    letter-spacing: 0.01em;

}

.divi
{
    display: flex;
    flex-direction: row;
    width: 487px;
    justify-content:space-between;
    
}

.imgs
{
    width: 302px;
    height: 348px;
    gap: 0px;
    border: 1px solid #333333;
    border-radius: 40px;
    margin-bottom: 48px;

}

button
{
    width: 222px;
    height: 66px;
    border: 1px solid #333333;
    border-radius: 40px ;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 18px;
    background-color:#333333;
    color:#FFFFFF;
    margin-bottom: 80px;
}

.divim
{
    margin-top: 63px;
    margin-left: 65px;
    margin-right: 65px;
}
